@{
    ViewBag.Title = "Dashboard";
}


<div class="row">

    <div class="col-md-12">&nbsp;</div>
    <div class="col-md-12">&nbsp;</div>

    <div class="col-md-offset-3  col-md-9 pull-left">
        <span class="h1 text-left">&nbsp;</span>
    </div>

    <div class="col-sm-offset-3 col-md-offset-3 col-md-6 col-sm-6">
        <div class="message clearfix col-md-12">
            <div class="title col-md-12">
                <div class="col-md-9 pull-left text-left" style="padding:0;margin:0">
                    @Html.ActionLink("Users", "Users", "Home")
                </div>
                <div class="clearfix col-md-3 text-right" style="font-size:larger;">
                    <span class="icon-large icon-parents" />
                </div>
            </div>
            <div class="contents col-md-12">
                Manages Users. Click the header to navigate to manage Users.
            </div>
        </div>

    </div>

    <div class="col-sm-offset-3 col-md-offset-3 col-md-6 col-sm-6">
        <div class="message clearfix col-md-12">
            <div class="title col-md-12">
                <div class="col-md-9 pull-left text-left" style="padding:0;margin:0">
                    @Html.ActionLink("Policies", "Policies", "Home")
                </div>
                <div class="clearfix col-md-3 text-right" style="font-size:larger;">
                    <span class="icon-large icon-blog" />
                </div>                
            </div>
            <div class="contents col-md-12">
                Tracks your Policies. Click the header to navigate to your Policies.
            </div>
        </div>
    </div>


    <div class="col-md-12">&nbsp;</div>
    <div class="col-md-12">&nbsp;</div>
    <div class="col-md-12">&nbsp;</div>
    <div class="col-md-12">&nbsp;</div>
    <div class="col-md-12">&nbsp;</div>
    <div class="col-md-12">&nbsp;</div>

</div>
