.message {
  background: none repeat scroll 0 0 #eaeaea;
  border: 1px solid #aaaaaa;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin-bottom: 5px;
  margin-left: 0px;
  margin-right: 5px;
  padding: 5px;
}
.message .title {
  font-size: 20px;
  font-weight: bold;
  -webkit-text-shadow: 2px 2px 4px #aaaaaa;
  text-shadow: 2px 2px 4px #aaaaaa;
}
.message .title .childTitle {
  font-size: 13px;
  font-weight: normal;
  text-shadow: 0px 0px 0px #aaaaaa;
}
.user {
  background: none repeat scroll 0 0 #eaeaea;
  border: 1px solid #aaaaaa;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin-bottom: 5px;
  margin-left: 0px;
  margin-right: 5px;
  padding: 5px;
}
.user .title {
  font-size: 15px;
  font-weight: bold;
  -webkit-text-shadow: 2px 2px 4px #aaaaaa;
  text-shadow: 2px 2px 4px #aaaaaa;
}
.user .title .childTitle {
  font-size: 13px;
  font-weight: normal;
  text-shadow: 0px 0px 0px #aaaaaa;
}
.user .photo {
  height: 75px;
  width: 75px;
  background-color: #d0d0d0;
  border: 1px solid #d0d0d0;
  border-radius: 5px 5px 5px 5px;
}
.userPopup {
  background: none repeat scroll 0 0 #eaeaea;
  border: 1px solid #aaaaaa;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin-bottom: 8px;
  margin-left: 8px;
  margin-right: 8px;
  padding: 8px;
}
.userPopup .title {
  font-size: 12px;
  font-weight: bold;
  -webkit-text-shadow: 2px 2px 4px #aaaaaa;
  text-shadow: 2px 2px 4px #aaaaaa;
}
.userPopup .title .childTitle {
  font-size: 12px;
  font-weight: normal;
  text-shadow: 0px 0px 0px #aaaaaa;
}
.userPopup .photoSmall {
  height: 50px;
  width: 50px;
  background-color: #d0d0d0;
  border: 1px solid #d0d0d0;
  border-radius: 3px 3px 3px 3px;
}
.userPopup .photoMedium {
  height: 60px;
  width: 60px;
  background-color: #d0d0d0;
  border: 1px solid #d0d0d0;
  border-radius: 3px 3px 3px 3px;
}
.h1 {
  font-size: 24px;
  font-weight: bold;
}
.h4 {
  font-size: 13px;
  font-weight: bold;
}
.innerInputPadding div {
  padding: 3px;
}
.fullWidth {
  width: 100%;
}
input[type="date"] {
  line-height: inherit;
}
.maleImage {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("~/Content/Themes/Outlook/img/male.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}
.alert-success {
  /* padding: 10px; */
  padding-bottom: 3px;
  padding-top: 3px;
}
.alert-danger {
  /* padding: 10px; */
  padding-bottom: 3px;
  padding-top: 3px;
}
.modal-content {
  border-color: navy;
  border-style: solid;
}
.form-control-search {
  margin: 5px 5px 5px 5px;
  height: 25px;
  font-size: 12px;
}
.form-control-input {
  padding: 0;
  margin-left: 0;
}
/* Blue Color */
a,
a:visited {
  color: #244fa7;
  text-decoration: none;
}
a:hover {
  color: #244fa7;
  text-decoration: underline;
}
.fixedbar {
  background: #244fa7;
}
.avsubmenustyle,
.avsubmenustyle div {
  border: 1px solid #244fa7 !important;
}
.avsubmenustyle li a {
  background: #244fa7 !important;
  border-bottom: 1px solid #244fa7 !important;
}
.avsubmenustyle li a:hover {
  background: #244fa7 !important;
}
.mattblackmenu ul {
  background: #244fa7 !important;
}
.mattblackmenu li a {
  background: #244fa7 !important;
}
.mattblackmenu li a:hover {
  background: #244fa7 !important;
}
.main blockquote {
  background: url('../img/quote-blue.png') top left no-repeat;
}
.posts h2 {
  background: #244fa7;
}
.features h4 {
  color: #244fa7;
}
.foot {
  background: #244fa7;
}
.foot a,
.foot a:visited {
  color: #244fa7;
}
.foot a:hover {
  color: #244fa7;
}
/*# sourceMappingURL=Site.css.map */